body{
  background-color: wheat;
}
.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 2rem;
}
/* .BoardDemo-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */
.board-container{
  margin:auto;
  /* margin: 20px; */
    padding: 12px 23px;
    width:300px;
    height: 100px;
    justify-content: center;
}
/* .BoardDemo-container{
  margin:auto;
    padding: 12px 23px;
    width:300px;
    height: 100px;
    justify-content: center;
} */